<div *ngIf="todos.length > 0">
  <div class="todo-wrapper" *ngFor="let todo of todos">
    <div class="title" appHover>{{ todo.title | titleCase }}</div>
  </div>
</div>
<app-addtodo (onAdd)="addToDo($event)"></app-addtodo>
